.vscode/settings.json
testing.py
server/__pycache__/sqliteServer.cpython-38.pyc
client/__pycache__/login.cpython-38.pyc
server/modules/__pycache__/pygame_textinput.cpython-38.pyc
server/modules/__pycache__/__init__.cpython-38.pyc
client/modules/__pycache__/pygame_textinput.cpython-38.pyc
client/modules/__pycache__/__init__.cpython-38.pyc
client/__pycache__/mainClient.cpython-38.pyc
client/assets/mainPageBack.xcf
client/__pycache__/client.cpython-38.pyc
client/__pycache__/mainPage.cpython-38.pyc
client/temp/nothingToSeeHere.txt
/.idea/
server/__pycache__/database.cpython-38.pyc
client/modules/__pycache__/text_wrapper.cpython-38.pyc
client/testFile.txt
server/testFile.txt
server/solutions/__pycache__/b.cpython-38.pyc
server/solutions/__pycache__/a.cpython-38.pyc
server/solutions/b.py
server/solutions/a.py
client/assets/logo.xcf
server/solutions/devNull.py
server/solutions/__pycache__/devNull.cpython-38.pyc
server/__pycache__/settings.cpython-38.pyc
server/solutions/__pycache__/admin.cpython-38.pyc
test_files/__pycache__/test_cases.cpython-38.pyc
test_files/__pycache__/check.cpython-38.pyc
server/__pycache__/serverGui.cpython-38.pyc
server/__pycache__/impoter.cpython-38.pyc
