.vscode/settings.json
testing.py
server/__pycache__/sqliteServer.cpython-38.pyc
client/__pycache__/login.cpython-38.pyc
server/modules/__pycache__/pygame_textinput.cpython-38.pyc
server/modules/__pycache__/__init__.cpython-38.pyc
client/modules/__pycache__/pygame_textinput.cpython-38.pyc
client/modules/__pycache__/__init__.cpython-38.pyc
client/__pycache__/mainClient.cpython-38.pyc
client/assets/mainPageBack.xcf
client/__pycache__/client.cpython-38.pyc
client/__pycache__/mainPage.cpython-38.pyc
client/temp/nothingToSeeHere.txt
/.idea/
server/__pycache__/database.cpython-38.pyc
